body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden; /* Prevent horizontal overflow */

}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.right-nav .hamburger-icon {
    display: none;
    cursor: pointer;
}

.top-nav {
    display: flex;
    width: auto;
    padding: 1.625rem 8%;
    justify-content: space-between;
    align-items: center;
}

.left-nav {
    display: flex;
    width: 12.3125rem;
    padding: 0.625rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
}

.middle-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--Spacing-Spacing-3Xl, 2.5rem);
}

.nav-section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.125rem;
}

.nav-alignment {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.3rem;
    animation-timing-function: ease-out;
    animation-duration: 300ms;
}

h3 {
    color: var(--Navy, #211E3E);
    font-family: Inter;
    font-size: 1.0625rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.375rem;
    text-decoration: none;
    margin-block-start: 0rem;
    margin-block-end: 0rem;
}

.right-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--Spacing-Spacing-3Xl, 2.5rem);
}

.button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: #1e1e4d;
    color: white;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    display: flex;
    height: 3.25rem;
    padding: var(--Spacing-Spacing-none, 0rem) var(--Spacing-Spacing-2Xl, 2rem);
    justify-content: center;
    align-items: center;
    gap: var(--Spacing-Spacing-Xs, 0.25rem);
    border-radius: 1.875rem;
    background: var(--Navy, #211E3E);
    cursor: pointer;
}

.text {
    color: var(--Text-Text-CTA, #FFF);
    text-align: center;
    font-family: Inter;
    font-size: 1.0625rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.375rem; /* 129.412% */
}

.button.arrow {
    background-color: #fff;
    border-radius: 1.875rem;
    border: 3px solid var(--Red, #AB1D22);
    width: 91.164px;
    height: 3.25rem;
}

.button .arrow-icon {
    display: none;
    vertical-align: middle;
}

.button.hovered .text {
    display: none;
}

.button.hovered .arrow-icon {
    display: inline-block;
}

.main-header-text .button {
    background-color: none;
    border-radius: 1.875rem;
    border: 3px solid var(--Text-White, #FFF);
}

.main-header-text .button:hover {
    background-color: #a70000;
}

a {
    display: inline-block;
    padding-left: 0px;
    padding-right: 0px;
    text-decoration: none;
    width: auto;
}

/* Dropdown Container */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: max-content;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: var(--Spacing-Spacing-3Xl, 1rem) var(--Spacing-Spacing-Lg, 1rem) var(--Spacing-Spacing-2Xl, 0.8rem);
    border-radius: 0.875rem;
    box-shadow: -1px 8px 8px 0px rgba(0, 0, 0, 0.08);
    left: 0; /* Initial position */
    transition: left 0.3s ease-in-out; /* Smooth transition */
}

/* Show the Dropdown Menu on Hover or Click */
.dropdown:hover .dropdown-content,
.dropdown-content.show {
    display: block;
    left: -30px; /* Adjust this value as needed */
}

/* Links Inside the Dropdown */
.dropdown-content a {
    display: flex;
    height: 3rem;
    padding: var(--Spacing-Spacing-Sm, 0.5rem) 0rem;
    justify-content: left;
    align-items: center;
    color: var(--Text-Text-Secondary, #555454);
    font-family: Inter;
    font-size: 1.0625rem;
    font-style: normal;
    font-weight: 450;
    line-height: 1.375rem; /* 129.412% */
    padding-left: 20px; /* Add space between stroke and text */
    padding-right: 20px; /* Increase padding on the right */
    position: relative; /* Add this to position the stroke */
}

.contact-button h3:hover {
    color: var(--Red, #AB1D22);
}

/* Change Color of Links on Hover */
.dropdown-content a:hover {
    color: #AB1D22; 
    font-weight: 500;
    transform: translateX(10px);
    transition: transform 0.3s ease;
}

/* Change Color of Links on Hover */
.nav-section h3:hover {
    color: var(--Red, #AB1D22);
}

.dropdown-content a::before {
    content: '';
    position: absolute;
    left: 0;
    top: 27%; /* Adjust the top value to reduce height */
    bottom: 27%; /* Adjust the bottom value to reduce height */
    width: 5px; /* Width of the stroke */
    background-color: #AB1D22; /* Color of the stroke */
    transform: scaleY(0);
    transition: transform 0.3s ease;
}


.dropdown-content a:hover::before {
    transform: scaleY(1);
}

/* Additional Styles for the Dropdown Button */
.dropbtn {
    color: #211E3E;
    padding: 0px 0px;
    font-family: 'Inter', sans-serif;
    font-size: 1.0625rem;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s;
}

/* Chevron Icon */
.chevron-icon {
    transition: content 0.3s;
}

/* Change Color of Links and Chevron Icon when Dropdown is Visible */
.nav-section h3:hover,
.dropdown-content.show .dropbtn {
    color: #AB1D22; /* Red color */
}

.nav-section.dropdown:hover #chevron-icon-services,
#chevron-icon-services.show {
    content: url('https://raw.githubusercontent.com/Eganbros/EganBros-website/72f2a3399ed79c5d4a89369affba244a280ca4a4/Content/chevron-down-red.svg');
}

.chevron-icon.show {
    content: url('https://raw.githubusercontent.com/Eganbros/EganBros-website/72f2a3399ed79c5d4a89369affba244a280ca4a4/Content/chevron-down-red.svg'); /* Change chevron icon */
}

.right-nav {
    width: 13rem;
}

.container a {
    flex: 1; /* Example: Ensure <a> tags fill the container in a flex layout */
}

#chevron-icon-services {
    content: url('https://raw.githubusercontent.com/Eganbros/EganBros-website/c6a48ae561e9f646fda3cede8d693e34ae241e14/Content/chevron-down.svg');
}

#chevron-icon-services.show {
    content: url('https://raw.githubusercontent.com/Eganbros/EganBros-website/72f2a3399ed79c5d4a89369affba244a280ca4a4/Content/chevron-down-red.svg');
}

#chevron-icon-case-studies {
    content: url('https://raw.githubusercontent.com/Eganbros/EganBros-website/c6a48ae561e9f646fda3cede8d693e34ae241e14/Content/chevron-down.svg');
}

#chevron-icon-case-studies.show {
    content: url('https://raw.githubusercontent.com/Eganbros/EganBros-website/72f2a3399ed79c5d4a89369affba244a280ca4a4/Content/chevron-down-red.svg');
}

#chevron-icon-about {
    content: url('https://raw.githubusercontent.com/Eganbros/EganBros-website/c6a48ae561e9f646fda3cede8d693e34ae241e14/Content/chevron-down.svg');
}

#chevron-icon-about.show {
    content: url('https://raw.githubusercontent.com/Eganbros/EganBros-website/72f2a3399ed79c5d4a89369affba244a280ca4a4/Content/chevron-down-red.svg');
}

.button.hovered .text {
    display: none;
}

.button.hovered .arrow-icon {
    display: inline-block;
}

.chevron-icon.show {
    content: url('https://raw.githubusercontent.com/Eganbros/EganBros-website/72f2a3399ed79c5d4a89369affba244a280ca4a4/Content/chevron-down-red.svg'); /* Change chevron icon */
}

/* Change title color to red when dropdown is visible */
.nav-section.dropdown:hover .dropbtn,
.dropdown-content.show .dropbtn,
.nav-section .dropbtn.active {
    color: #AB1D22; /* Red color */
}


Hamburger Icon Styling
.hamburger-icon {
    width: 30px;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.hamburger-icon img {
    width: 100%;
    height: auto;
    cursor: pointer;
}


/* Side Menu Styling */
.side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #1c1c2b;
    overflow-x: hidden;
    transition: 0.5s;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 999;
    padding-top: 20px;
    opacity: 0.96;

}

.side-menu.open {
    width: 380px; /* Adjust this value to increase the size of the side menu */
}

.side-menu .menu-header {
    display: flex;
    justify-content: flex-end;
    padding: 10px 8%;
}



/* Close Icon Styling to Match Hamburger Icon Position */
.close-icon {
    font-size: 46px;
    font-weight: 200;

    cursor: pointer;
    color: #ffffff;
    position: fixed;
    top: 35px;
    right: 20px;
    padding-right: 6%;
    z-index: 1001; /* Ensure it's above the side menu */
    display: none;
}


.side-menu .menu-links {
    display: flex;
    flex-direction: column;
    padding: 10px 40px;
    gap: 1rem;
    margin-top: 60px; /* Adjust to avoid overlap with close icon */
}

.side-menu .menu-links h3 {
    padding: 0px 0px;
    font-family: 'Inter', sans-serif;
    font-size: 1.0625rem;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    margin-top: 20px;
    font-size: 22px;
    color: #FFFF;
    margin-bottom: 10px; 
}

.side-menu .menu-links a {
    padding: 8px 0;
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    font-family: 'Inter', sans-serif;
    font-weight: 350;
    text-decoration: none;
    cursor: pointer;
    position: relative; /* Add this to position the stroke */
    padding-left: 20px; /* Add this to create space between the stroke and the text */
}


.side-menu .menu-links a:hover {
    font-weight: 500;
    transform: translateX(10px);
    transition: transform 0.3s ease;
}

.side-menu .menu-links a::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 5px; /* Adjust the width of the stroke */
    background-color: #AB1D22; /* Adjust the color of the stroke */
    transform: scaleY(0);
    transition: transform 0.3s ease;
}

.side-menu .menu-links a:hover::before {
    transform: scaleY(1);
}

.consumer-one, .consumer-two{
    display: none;
}

main {
    display: flex;
    width: auto;
    align-items: flex-start;
    background: var(--Navy, #211E3E);
}

.main-header-text {
    display: flex;
    height: 29.3125rem;
    min-width: 32rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
    padding-left: 8%;
    padding-right: 0%;
}

.header-text-top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--Spacing-Spacing-Lg, 1rem);
}

h1 {
    color: var(--Text-Text-Inverted, #FFF);
    font-family: Inter;
    font-size: 2.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-block-start: 0rem;
    margin-block-end: 0rem;
}

.header-text-top h3 {
    color: var(--Text-Text-CTA, #FFF);
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 200;
    line-height: 1.75rem; /* 140% */
}

.main-header-text .contact-button {
    border-radius: 1.875rem;
    border: 3px solid var(--Text-White, #FFF);
}

.header-image {
    width: 100%;
    height: 29.5rem;
    background-image: url('https://raw.githubusercontent.com/Eganbros/EganBros-website/623649001e6d632053766a6bf1f94a92351defe2/Content/main%20banner-right-image%201.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h2 {
    color: var(--Navy, #211E3E);
    text-align: center;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.75rem; /* 116.667% */
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.partner-section {
    display: flex;
    width: auto;
    padding: 3.75rem 10rem;
    flex-direction: column;
    align-items: center;
    gap: 2.625rem;
    background: #FFF;
    height: 100%;
}

.partner-section-top-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5625rem;
}

.partner-section-top-text h3,
.partner-section-bottom h3 {
    color: var(--Text-Text-Secondary, #474747);
    text-align: center;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.5rem; /* 180% */
}

.partners-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4.64263rem;
    opacity: 0.5;
}

.logo-height{
    height: 5.6rem !important;
}

.partner-section-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--Spacing-Spacing-2Xl, 2rem);
    height: 100%;
}

.sentence {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--Spacing-Spacing-Sm, 0.5rem);
}

.sentence .bold {
    font-weight: 600;
}

.bold:hover {
    color: #AB1D22;
    cursor: pointer;
}

.partners-logo img {
    mix-blend-mode: luminosity;
    filter: grayscale(100%);
}

h4 {
    color: var(--Navy, #211E3E);
    text-align: center;
    font-family: Inter;
    font-size: 2.625rem;
    font-style: normal;
    font-weight: 400;
    line-height: 114%; /* 2.9925rem */
    margin-block-start: 0em;
    margin-block-end: 0em;
}

h5 {
    color: var(--Text-Text-Tertiary, #7D7D7D);
    text-align: center;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.9375rem; /* 155% */
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.category-title {
    width: 45.125rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--Spacing-Spacing-Lg, 1rem);
}

.services {
    text-align: center;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3.75rem;
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3.75rem;
    padding-left: 8%;
    padding-right: 8%;
}

.card {
    border-radius: 1.25rem;
    background: var(--Neutrals-Cards, #FFF);
    box-shadow: 0px 2px 5px 0.256px rgba(0, 0, 0, 0.08);
    width: auto;
    min-width: 500px;
    padding: 0;
    text-align: left;
    overflow: hidden;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 13rem;
    object-fit: cover;
}

.card-text img {
    width: 24px;
    height: 25px;
}

.card-title {
    display: flex;
    align-items: center;
    gap: var(--Spacing-Spacing-Md, 0.75rem);
    align-self: stretch;
    width: 100%;
}

.card p {
    color: #666666;
    font-size: 0.9em;
    line-height: 1.4;
}

p {
    color: #666666;
    font-family: Inter;
    font-size: 0.9em;
    font-style: normal;
    font-weight: 300;
    line-height: 1.4;
    margin-block-start: 0em;
    margin-block-end: 0em;
    width: auto;
    margin: 0;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
}

.card-text {
    display: flex;
    padding: 1.5rem var(--Spacing-Spacing-Xl, 1.5rem) var(--Spacing-Spacing-Xl, 1.5rem) var(--Spacing-Spacing-Xl, 1.5rem);
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    align-self: stretch;
    width: auto;
}

.learn-more {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;
    padding-top: 0.2rem;
}

.learn-more img {
    width: 1.71875rem;
    height: 0.875rem;
}

.learn-more h5 {
    color: var(--Red, #AB1D22);
    font-family: Inter;
    font-size: 1.0625rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.375rem; /* 129.412% */
}

.deployment,
.feedback,
.footer-content {
    padding: 20px;
    text-align: center;
}

.partners-logos,
.service-items,
.feedback-items,
.certifications {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.deployment {
    text-align: center;
    background: #fff;
    padding: 6rem 8rem 8.75rem 10rem;
    align-items: center;
    height: auto;
}

.deployment h4 {
    color: var(--Text-Text-Secondary, #474747);
    font-family: Inter;
    font-size: 2.3125rem;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    margin: 20px;
    margin-bottom: 5rem; /* Increased bottom margin */
}

.deployment-stats {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; /* Enable wrapping */

}

.stat {
    text-align: center;
    margin: 0 20px;
    flex: 1 1 20%; /* Adjust flex-grow, flex-shrink, and flex-basis */
}

.stat h3 {
    color: var(--Navy, #211E3E);
    font-family: Inter;
    font-size: 2.8125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.stat p {
    color: var(--Text-Text-Tertiary, #7D7D7D);
    text-align: center;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 300;
    line-height: 2.25rem; /* 180% */
}

.divider {
    width: 0.5px;
    height: 40px;
    background: #ccc;
}

.feedback {
    display: flex;
    padding: 5rem 10rem;
    flex-direction: column;
    align-items: center;
    gap: 3.75rem;
    height: auto;
    background: #F5F7FB;
}

.feedback-items {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.feedback-item {
    display: flex;
    width: 26.875rem;
    flex-direction: column;
    align-items: center;
    gap: var(--Spacing-Spacing-Xl, 1.5rem);
}

.feedback h4 {
    color: var(--Navy, #211E3E);
    font-family: Inter;
    font-size: 2.3125rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.feedback-item img {
    width: 11.25rem;
    height: 11.25rem;
}

.feedback-item p {
    width: 22rem;
}

.partner-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--Spacing-Spacing-Lg, 1rem);
}

.partner-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.partner-name h3 {
    color: var(--Navy, #211E3E);
    text-align: center;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.25rem; /* 180% */
}

.partner-name p {
    color: var(--Navy, #211E3E);
    text-align: center;
    font-family: Inter;
    font-size: 1.0625rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.375rem; /* 129.412% */
}

.certifications {
    display: flex;
    width: auto;
    padding: 6.25rem 10rem;
    justify-content: center;
    align-items: center;
    gap: 11.25rem;
    mix-blend-mode: luminosity;
    filter: grayscale(100%);
}

.certification-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2065rem;
    width: 6rem;
}

.certification-details p {
    text-align: center;
}

.certification-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
}

footer {
    background-color: #1c1c2b;
    color: #ffffff;
    padding: 40px 0px;
    text-align: left;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 8%;
    margin-right: 8%;
    height: auto;
    padding-top: 3rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--Borders-Secondary-Icons, #7D7D7D);
}

.footer-column {
    flex: 1;
    min-width: 200px;
    margin: 10px;
    height: auto;
}

.footer-column h3 {
    padding-left: 0; /* Ensure no padding on the left */
    color: var(--Text-Text-Inverted, #FFF);
    font-family: Inter;
    font-size: 1.0625rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.375rem; /* 129.412% */
}

.footer-column ul {
    list-style: none;
    padding: 0;
    color: var(--Text-Text-Inverted, #FFF);
    font-family: Inter;
    font-size: 1.0625rem;
    font-style: normal;
    font-weight: 200;
    line-height: 1.375rem; /* 129.412% */
    height: auto;
}

.footer-column ul li {
    padding-top: 15px;
    padding-bottom: 15px;
    height: auto;
}

.footer-column ul li a {
    position: relative; /* Add this to position the stroke */
    padding-left: 0; /* Remove left padding to align with title */
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Center align items */
}

.footer-column ul li a::before {
    content: '';
    position: absolute;
    left: -25px; /* Adjust this value to align with title */
    top: 0;
    bottom: 0;
    width: 5px; /* Adjust the width of the stroke */
    background-color: #AB1D22; /* Adjust the color of the stroke */
    transform: scaleY(0);
    transition: transform 0.3s ease;
}


.footer-column ul li a:hover {
    color: #C6C4C4;
    font-weight: 500;
    transform: translateX(10px);
    transition: transform 0.3s ease;
}

.footer-column ul li a:hover::before {
    transform: scaleY(1);
}


li.animate-link:hover {
    transform: translateX(10px);
    transition: transform 0.3s ease;
}

li:hover {
    cursor: pointer;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
    margin-bottom: 40px;
    margin-left: 8%;
    margin-right: 8%;
    height: auto;
}

.footer-bottom p {
    margin: 0;
    color: var(--Text-Text-CTA, #FFF);
    text-align: center;
    font-family: Inter;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.25rem; /* 133.333% */
}

.footer-logo {
    width: 6.5rem;
    height: 3.66488rem;
}

.learn-more{
    display: none;
}

.copyright{
    display: none;

}



@media screen and (max-width: 1930px) {
    .card {
        min-width: 400px;
    }
}

@media screen and (max-width: 1676px) {
    .header-image {
        width: 100%;
        height: 29.5rem;
        background-image: url('https://raw.githubusercontent.com/Eganbros/EganBros-website/aa440f0b2dda4ac1892252b8240081b014dcf993/Content/main%20banner-right-image%202.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

@media screen and (max-width: 1610px) {

    .feedback {
        padding-left: 0rem;
        padding-right: 0rem;
        gap: 4rem;
    }

    .feedback-items{
        gap: 6%;
        justify-content: center;
    }
    .feedback-item{
        width: 22rem;
    }

}

@media screen and (max-width: 1578px) {
    .header-image {
        width: 100%;
        height: 29.5rem;
        background-image: url('https://raw.githubusercontent.com/Eganbros/EganBros-website/a11c2569af252036f47c3c7da709fd0e30b30b0a/Content/main%20banner-right-image%203.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

@media screen and (max-width: 1572px) {
    .card {
        min-width: 300px;
    }
}

@media screen and (max-width: 1520px) {
    .header-image {
        width: 100%;
        height: 29.5rem;
        background-image: url('https://raw.githubusercontent.com/Eganbros/EganBros-website/5a41b6cc12ab42a62f08ffc9134d0b33f6c57818/Content/main%20banner-right-image%204.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

@media screen and (max-width: 1345px) {
    .header-image {
        width: 100%;
        height: 29.5rem;
        background-image: url('https://raw.githubusercontent.com/Eganbros/EganBros-website/cd59f059d56d0722c23b1618eb348ad42f15d43e/Content/main%20banner-right-image%205.svg');
    }

    .feedback-item{
        width: 18rem;
    }

    .feedback-item p {
        width: 17rem;
    }

    .partner-text{
        gap: 0.5rem;
    }
}

@media screen and (max-width: 1380px) {

    .certifications {
        padding: 6.25rem 10rem;
        gap: 10%;

    }

}

@media screen and (max-width: 1330px) {

    .stat {
        text-align: center;
        margin: 0 0px;

    }

    .stat h3{
        font-size: 2rem;
    }

    .stat p{
        font-size: 1rem;
    }

    .deployment {
        padding-left: 6%;
        padding-right: 6%;
        align-items: center;
        height: auto;
    }


}

@media screen and (max-width: 1220px) {

    .feedback-item{
        width: 16rem;
    }

    .feedback-item p {
        width: 17rem;
}

.certifications {
    gap: 5%;
    padding-left: 0;
    padding-right: 0;

}

.certification-details img{
    width: 40%;
}

.certification-item img{
    width: 40%;

}
}





@media screen and (max-width: 1160px) {


    h1{
        font-size: 2.3rem;

    }

    .main-header-text{
        min-width: 27rem;
    }

    .main-header-text .button {
        border: 2px solid

}

}

@media screen and (max-width: 1110px) {

    .right-nav .hamburger-icon {
        display: inline-block;
    }

    .right-nav a{
        display: none;
    }

    .stroke1{
        display: none;
    }

    .right-nav {
        width: 12.3125rem;
    }

    .middle-nav{
        display: none;
    }

    h2{
        font-size: 1.2rem;
    }


    .partner-section-top-text h3, .partner-section-bottom h3 {
        font-size: 1.1rem;
    }

    .partners-logo img{
        width: 80%;
        height: 10%;
    }

    .partners-logo{
        width: 30%;
        gap: 25%;
    }

    .partner-section-bottom{
        width: 100%;
        height: 40%;
    }

    .partner-section {
        padding: 3.75rem 8%;
    }


    .side-menu .menu-links {
        padding: 10px 40px;
        margin-top: 0px;
        gap:0.5rem
    }
    
    .side-menu .menu-links a{
        font-size: 1rem; 
    }
    
    .side-menu .menu-links h3{
        font-size: 1.2rem;
    
    }

    h4 {
        font-size: 2.2rem;
    }

    h5 {
        font-size: 1rem;
        width: 35rem;
        line-height: 1.6rem;
    }

    .services{
        gap: 3rem;
        padding-top: 3rem;
        padding-bottom: 4rem;
    }

    .container{
        gap: 3rem;
    }


}

@media screen and (max-width: 1070px) {
    .header-image {
        width: 100%;
        height: 29.5rem;
        background-image: url('https://raw.githubusercontent.com/Eganbros/EganBros-website/9ecea5cfb8b1f6032cca7ccf391d4cf2318517dc/Content/main%20banner-right-image%206.svg');
    }
}

@media screen and (max-width: 1020px) {
    .deployment-stats {
        flex-direction: row; /* Arrange in rows */
        justify-content: center; /* Center the stats */
        width: 80%;
        margin: 0 auto; /* Center the deployment-stats */
        gap: 1rem;
    }

    .deployment{
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .deployment h4{
        margin-bottom: 2rem;
        padding-top: 0rem;
        padding-bottom: 0rem;
        font-size: 2rem;
    }

    .feedback h4 {
        font-size: 2rem;
    }

    .stat {
        flex: 1 1 45%; /* Adjust flex-basis for wrapping */
        margin: 0px 0; /* Add margin for spacing */
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .divider {
        display: none; /* Hide dividers */
    }

    .feedback-item{
        width: 15rem;
    }

    .partner-name h3 {
        font-size: 1rem;
        line-height: 2rem;
    }
    
    .partner-name p {
        font-size: 1rem;
        line-height: 1rem;


    }
}

@media screen and (max-width: 980px) {

    .feedback-items{
        padding-left: 6%;
        padding-right: 6%;
        gap: 10%;
    }

    .feedback-item:nth-child(3) {
        margin-top: 2rem; /* Add space after the third item */
    }

    
}

@media screen and (max-width: 950px) {

    .main-header-text {
        min-width: 26rem;
    }
}





@media screen and (max-width: 865px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        justify-content: center;
    }

    .br-one{
        display: none;
    }

    .header-text-top{
        width: 100%;

    }

    .header-image {
        order: 1;
        width: 100%;
        height: 22rem;
        background-image: url('https://github.com/Eganbros/EganBros-website/blob/main/Content/header%20Full%20image%20.jpeg?raw=true');
    }



    .picture-section {
        height: 8rem !important;
    }

    .text {

        font-size: 1rem;
        font-weight: 500;

    }
    
    .main-header-text {
        order: 2;
        width: 100%;
        text-align: center;
        height: auto;
        padding-left: 0%;
        padding-right: 0%;
        padding-top: 6%;
        padding-bottom: 6%;
    }

    .main-header-text h1 {
        margin: 0 auto;
        width: 27rem;
        font-weight: 300;
        font-size: 1.8rem;


    }

    .main-header-text h3 {
        margin: 0 auto;
        width: 100%;
        font-weight: 300;
        font-size: 1rem;
    }


    .main-header-text .button {
        margin: 0 auto;
        border: 2px solid;
    }

    .partner-section-bottom{
        width: 80%;
    }

    .logo-height{
        height: 4rem!important;
    }

    .services{
        gap: 2rem;
        padding-top: 3rem;
        padding-bottom: 4rem;
    }

    .container{
        gap: 2.3rem;
    }

    .certification-details img{
        width: 30%;
    }
    
    .certification-item img{
        width: 35%;
    
    }

    .certification-details p {
        font-size: 0.8rem;
    }

    .certifications {
        width: 100%;
        gap:0;
    }

    .certification-item {
        gap: 0.5rem;
}


}


@media screen and (max-width: 750px) {

    .top-nav{
        padding: 1.625rem 24px;
    }

    .main-header-text {
        padding-left: 0px;
    }

    .close-icon {
        padding-right: 5px;
    }

    /* .partner-section-top-text h2{
        width: 24rem;
    } */

    .consumer-one {
        display: inline-block;
    }

    h4 {
        font-size: 2rem;
    }

    h5 {
        width: 100%;
    }

    .category-title {
        width: 84%;
    }    

    .deployment h4 {

        font-size: 1.8rem;

    }

    .feedback h4 {
        font-size: 1.8rem;
    }

    .footer-container {
        margin-left: 24px;
        margin-right: 24px;
    }
    

}

@media screen and (max-width: 730px) {

    .logo-height{
        height: 3rem!important;
    }

    .partner-section-bottom{
        width: 100%;
    }



}

@media screen and (max-width: 690px) {


    .feedback-items{
        padding-left: 12%;
        padding-right: 12%;
        gap: 3rem;
    }


    .feedback-item:nth-child(3) {
        margin-top: 0rem; /* Add space after the third item */
    }

    .certifications {
    padding-top:3rem;
    padding-bottom: 3rem;

    }

    .footer-column ul li a {
        font-size: 0.9rem;
        padding-top: 0px;
        padding-bottom: 0px;
        height: 1rem;
    }

    .copyright{
        display: inline-block
    }

    .footer-bottom p{
        text-align: left;
        line-height: 2rem;
    }

    


}

@media screen and (max-width: 662px) {

.certification-item:nth-child(3) {
    margin-top: 2rem; /* Add space after the third item */
}

.main-header-text {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0%;
    padding-right: 0%;
    min-width: auto;
}



}
@media screen and (max-width: 560px) {

.main-header-text h1 {
        /* width: 100%; */
        font-weight: 300;
        font-size: 1.5rem;
}

.main-header-text {
    width: 100%;
}

.main-header-text h3 {
    width: 23rem;
    font-weight: 200;
    font-size: 1rem;
}

.left-nav img{
    width: 5rem;
}

.top-nav {
    padding: 1rem 24px;
}

.side-menu.open {
    width: 100%;
}

.close-icon {
    top: 20px;
    right: 20px;
}

.side-menu .menu-links {
    padding: 10px 40px;
    gap: 0.2rem;
    margin-top: 0px;
}

.side-menu .menu-links a{
    font-size: 1rem; 
}

.side-menu .menu-links h3{
    font-size: 1.2rem;

}

.partner-section-top-text h2{
    font-size: 1rem;
}

.partner-section-top-text h3, .sentence h3{
    font-size: 1rem;
}

.partner-section{
    padding-top: 2rem;
    padding-bottom: 2rem;
    gap: 1rem;
}

.consumer-two{
    display: inline-block;
}

h5 {
    font-size: 1rem;
}

h4 {
    font-size: 1.6rem;
}

.deployment h4 {

    font-size: 1.6rem;

}

.feedback h4 {
    font-size: 1.6rem;
}

.deployment-stats {
    flex-direction: column; /* Arrange in a single column */
    gap: 0rem;
}

.stat {
    flex: 1 1 100%; /* Full width for each stat */
    margin-top: 0;
    margin-bottom: 0;
    padding-top:rem;
    padding-bottom: 1rem;
}


.partner-section-bottom{
    gap: var(--Spacing-Spacing-2Xl, 1rem);
}



/* .main-header-text .button {
    background-color: #a70000;
} */
.footer-logo {
    width: 20%;
}

.feedback-items img{
    width: 60%;

}

.feedback{
    gap: 2rem;
}

.feedback-item{
    gap: 0.6rem;
}

}

@media screen and (max-width: 480px) {
    
    .deployment h4 {
        font-size: 1.2rem;
    }
    .feedback h4 {
        font-size: 1.3rem;
    }

    .feedback-item img {
        width: 50%;
        height: auto;
    }
    .feedback-item {
        gap: 1rem;
    }
    
    .feedback {
        gap: 2rem;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    .footer-bottom p {
        font-size: 0.8rem;
        text-align: center;
        line-height: 1.4rem;
    }

    .footer-bottom {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding-top: 0rem;
    }

    .footer-logo {
        width: 4rem;
    }
    
}

@media screen and (max-width: 440px) {

    .certification-item:nth-child(3) {
        margin-top: 0rem; /* Add space after the third item */
    }

    .certifications {
        gap: 2rem;    
    }
}

@media screen and (max-width: 430px) {

    .logo-height{
        height: 2rem!important;
    }

    .main-header-text h1 {
        width: 23rem;
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 1.8rem;
    }


    .main-header-text h3 {
        width: 16rem;
        font-weight: 200;
        font-size: 0.9rem;
        line-height: 1.2rem;
    }

    .header-text-top{
        gap: 0.5rem;
    }

    .button {
        height: 2.8rem;
    }

    .text {
        font-size: 0.8rem;
        font-weight: 500;

}

    .main-header-text{
        gap: 1rem;
    }

    h4 {
        font-size: 1.2rem;
    }

    h5 , .card p{
        font-size: 0.8rem;
        line-height: 1.2rem;

    }

    .services {
        gap: 1.8rem;
        padding-top: 2rem;
        padding-bottom: 3rem;
    }

    .card-title h3{
        font-size: 0.9rem;
    }

    .stat h3 {
        font-size: 1.6rem;

    }



}

@media screen and (max-width: 390px) {

    .partner-section-top-text h2 {
        font-size: 0.9rem;

        line-height: 1.2rem;

    }   

    .partner-section-top-text h3, .sentence h3 {
        font-size: 0.9rem;
    }


}

@media screen and (max-width: 360px) {


    .main-header-text h1 {
        width: 60%;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.6rem;

    }

    .main-header-text h3 {
        font-weight: 200;
        font-size: 0.8rem;
        line-height: 1.2rem;
    }

    .button {
        height: 2.4rem;
    }

    .left-nav img {
        width: 4.4rem;
    }

    .top-nav {
        padding: 0.8rem 24px;
    }

    .close-icon {
        top: 12px;
        right: 20px;
    }
    
}



